<div class="col-lg-9 col-md-8">
  <div class="row pb-3 pr-5"  >
    <div class="col-12 pb-1">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <div>
          <a href="./add-shop" class="btn btn-sm btn-light bg-primary text-white">Thêm sản phẩm</a>
        </div>
        <div class="ml-2">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-sm btn-light dropdown-toggle"
              data-toggle="dropdown"
            >Sắp xếp</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Mới Nhất</a>
              <a class="dropdown-item" href="#">Thịnh Hành</a>
              <a class="dropdown-item" href="#">Lươt Đánh Giá</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{#each products}}
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
      <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
          <img class="img-fluid w-100" src="{{this.link}}" alt=""/>
          <div class="product-action">
            <a class="btn btn-outline-dark bg-important text-white" data-productid="{{this.product_id}}" data-toggle="modal" data-target="#deleteComfirm">Xóa</a>
            <a class="btn btn-outline-dark bg-safe text-white" href="./edit-shop?product_id={{this.product_id}}">Chỉnh sửa</a>
          </div>
        </div>
        <div class="text-center py-4">
          <a class="h6 text-decoration-none text-truncate hide-content-1" href="">{{this.product}}</a>
          <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>{{currencyFormat this.price}}</h5>
          </div>
        </div>
      </div>
    </div>
    {{else}}
    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
      <h5>Bạn chưa đăng sản phẩm nào</h5>
    </div>
    {{/each}}

  </div>
</div>
<!-- Shop Product End -->

<!-- Modal -->
<div class="modal fade" id="deleteComfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn xóa sản phẩm này không!?
      </div>
      <div class="modal-footer">
        <a id="deleteBtn" class="btn btn-primary" href="">Xóa</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event)=>{
    $('#deleteComfirm').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var productId= button.data('productid')

      $('#deleteBtn').attr({"href": `./delete-shop?product_id=${productId}`})
    })
  })
</script>