<!-- Topbar Start -->
<div class="container-fluid ">
    <div class="row align-items-center bg-light px-xl-5 d-none d-lg-flex flex-between">
        <div class="col-lg-4">
            <a href="" class="text-decoration-none">
                <div class="row">
                    <div class="logo-shop">
                        <img src="/img/logo.png" alt="" style="">
                    </div>
                    <!-- <span class="h1 text-uppercase text-primary bg-dark px-2">BoardGo</span> -->
                    <span class="h1 text-center align-center-logo ">Board<span class="text-primary">Go</span></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Tìm kiếm sản phẩm">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Topbar End -->

<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <a href="/home" class="text-decoration-none d-block d-lg-none">
                    <span class="h1 text-center align-center-logo text-white ">Board<span
                            class="text-primary">Go</span></span>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="/home" class="nav-item nav-link {{#if homePage}}active{{/if}}">Trang Chủ</a>
                        <a href="/shop" class="nav-item nav-link {{#if shopPage}}active{{/if}}">Cửa Hàng</a>

                        <a href="/me/info" class="nav-item nav-link {{#if homePage}}active{{/if}}">Thông Tin</a>


                        <a href="/contact" class="nav-item nav-link {{#if contactPage}}active{{/if}}">Liên Hệ</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                        <a href="/receipt" class="btn px-0 ml-3">
                            <i class="fas fa-receipt text-primary"></i>
                            <span class="badge text-secondary border border-secondary rounded-circle"
                                style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="/cart" class="btn px-0 ml-3">
                            <i class="fas fa-shopping-cart text-primary"></i>
                            <span class="badge text-secondary border border-secondary rounded-circle"
                                style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                    <div id="navbar-nav mr-auto py-0">
                        {{#if user.name}}
                        <a class="nav-item nav-link" href="/me/info" style="padding-bottom: 0;">
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <p style="color:white; display: inline;">{{user.name}}</p>
                        </a>
                        {{#if mePage}}
                        <a class="nav-item nav-link text-center" href="../auth/logout" style="padding-top: 0;">Đăng xuất</a>
                        {{else}}
                        {{#if detailPage}}
                        <a class="nav-item nav-link text-center" href="../auth/logout" style="padding-top: 0;">Đăng xuất</a>
                        {{else}}
                        <a class="nav-item nav-link text-center" href="auth/logout" style="padding-top: 0;">Đăng xuất</a>
                        {{/if}}{{/if}}

                        {{else}}
                        {{#if loginPage}}
                        <a class="nav-item nav-link" href="./login">
                        {{else}}
                        {{#if detailPage}}
                        <a class="nav-item nav-link" href="../auth/login">
                        {{else}}
                        <a class="nav-item nav-link" href="auth/login">
                        {{/if}}
                        {{/if}}
                        
                            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                            <p style="color:white; display: inline;">Đăng nhập</p>
                        </a>
                        {{/if}}
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->