<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <form id="filter-form">
                {{#each categoriesInfo}}
                    <!-- Price Start -->
                    <h5
                        class="section-title position-relative text-uppercase mb-3"
                    ><span class="bg-secondary pr-3">{{this.parent}}</span></h5>
                    <div class="bg-light p-4 mb-30">
                        {{#each this.children}}
                            <div class="check-box">
                                <input
                                    type="checkbox"
                                    name="categoriesId[]"
                                    value="{{this.category_id}}"
                                />
                                <label class="">{{this.category}}</label>
                            </div>
                        {{/each}}
                    </div>
                    <!-- Price End -->
                {{/each}}
            </form>
        </div>
        <!-- Shop Sidebar End -->

        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4" >
						<div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sắp xếp</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Mới Nhất</a>
                                    <a class="dropdown-item" href="#">Thịnh Hành</a>
                                    <a class="dropdown-item" href="#">Lươt Đánh
                                        Giá</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
				<div class="row" id="products-container">
                {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="{{this.link}}" alt="" />
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="./cart.html" ><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="shop/detail?product_id={{this.product_id}}" ><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            {{#if this.is_own}}
                                <span class="special-tag">Sản phẩm của bạn</span>
                            {{/if}}

                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate hide-content-1"  href="shop/detail?product_id={{this.product_id}}" >{{this.product}}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2"  >
                                    <h5>NaN đ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
				</div>
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->

<script>
    document.addEventListener('DOMContentLoaded', (event)=>{
		categoriesCheckBox = $('input[name="categoriesId[]"]')
		categoriesCheckBox.change((event)=>{
			$.ajax({
				url: 'shop/filter',
				method: 'get',
				data: $('#filter-form').serialize(),
				success: function(proudcts){
					var htmlText = ``
					proudcts.forEach((item)=>{
						htmlText += `<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="${item.link}" alt="" />
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href="./cart.html" ><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href="./detail.html" ><i class="fa fa-search"></i></a>
                                </div>
                            </div>`
						if (item.is_own)
							htmlText += `<span class="special-tag">Sản phẩm của bạn</span>`
						
                        htmlText += `<div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate hide-content-1"  href="" >${item.product}</a>
                                <div class="d-flex align-items-center justify-content-center mt-2"  >
                                    <h5>NaN đ</h5>
                                </div>
                            </div>
                        </div>
                    </div>`
					})
					$("#products-container").html(htmlText)
				}, 
			})
		})
	 })
</script>